# Dependencies
/node_modules
/node_modules/
/client/node_modules
/client/node_modules/
/server/node_modules
/server/node_modules/

# Build Output
/client/build
/client/.parcel-cache
/client/.cache

# Environment Files
.env
/.env
/client/.env
/server/.env

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# OS
.DS_Store
Thumbs.db









